# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Data Folders
shapefiles/*

# Data Files
mcas_2008.csv
cleaned_data.RData

# R files
create_users.R

# Credentials file
user_base.rds